[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "pandas-select"
version = "0.1.5"
description = ""
authors = ["Jean-Francois Zinque <jzinque@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.6.1"
pandas = ">=0.25.1"

[tool.poetry.dev-dependencies]
black = {version = ">=19.10b0", python = ">=3.6"}
mypy = "^0.761"
wemake-python-styleguide = "^0.13.4"

pytest = "^5.3"
scikit-learn = ">=0.20"
tox = "^3.14.4"

[tool.black]
line-length = 88
target-version = ["py36", "py37", "py38"]
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.isort]
atomic=true
balanced_wrapping=true
force_grid_wrap=0
include_trailing_comma=true
line_length=88
lines_after_imports=2
lines_between_types=1
multi_line_output=3
not_skip="__init__.py"
use_parentheses=true

known_first_party="pandas_select"
known_third_party=["numpy", "pandas", "pytest", "sklearn"]

[tool.tox]
legacy_tox_ini = """
[tox]
envlist = py{36,37,38}-pandas{0.25,1}
isolated_build = true

[testenv]
whitelist_externals = poetry

deps =
    pandas0.25: pandas==0.25.1
    pandas1: pandas==1.0.0
    scikit-learn
    pytest

commands =
    pytest {posargs} tests/
"""
